.usageContainer {
  background-color: white;
  height: 3.5rem;
  border-radius: 0.5rem;
  border-left: 1rem solid #ffcc00;
}

.usage {
  font-family: "Overpass Mono", monospace;
  color: #20252d;
}

p,
.h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: white;
}

.h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 900 !important;
  color: white;
}

.search {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #ffcc00;
}

.titleColor {
  color: #ffcc00;
}
